html, body{
  font-family: "Source Sans Pro", sans-serif !important;
}

.nav {
  font-size: 18px;
  color: #385a66;
  font-weight: 400;
}
.logo {
  font-family: "Cinzel", serif;
  color: #f14c59;
}
.boxNewBro {
  font-size: 16px;
  font-weight: 600;
}
.circleNewBro {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.custom-control-input:focus {
  border-color: #f47522;
  box-shadow: 2px 2px 10px #f47522;
}
.signin-button .btn-default, .signup-button .btn-default{
  background-color: #f14c59 !important;
}
.navbar .modal-dialog .modal-content {
  border-radius: 20px !important;
  cursor: default;
}
.signin .modal-dialog .modal-content {
  transition: none !important;
}
