html,
body {
  font-family: "Source Sans Pro", sans-serif !important;
}
.nav {
  font-size: 18px;
  color: #212e35;
  font-weight: 400;
  text-transform: uppercase;
}
.nav:hover {
  color: #f68c95;
}
.logo {
  font-family: "Cinzel", serif;
  font-size: 32px;
  color: white;
}
#login {
  text-transform: uppercase;
  font-size: 18px;
  box-shadow: none;
  color: #f14c59;
  border-radius: 20px;
  border: 1px solid #f14c59;
}
.signin-button .btn-default,
.signup-button .btn-default {
  background-color: #f14c59 !important;
}
/* akhir navbar */
/* home */
.noPadMar {
  margin: 0;
  padding: 0;
}
.home {
  z-index: 1;
  width: 500px;
  height: 600px;
  background-color: #da444f;
  border-radius: 0 0 40px 0;
}
.feature {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #dbdbdb;
  width: 310px;
  height: 350px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.feature:hover,
.feature:focus,
.feature:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile {
  position: absolute;
  z-index: 0;
  width: 500px;
  height: 450px;
  margin-top: 30px;
  background-color: #fef8f8;
  border-radius: 0 40px 40px 0;
}
.secure {
  position: absolute;
  z-index: 0;
  width: 683px;
  height: 400px;
  background-color: #fef8f8;
  border-radius: 40px 0 0 40px;
  margin-left: 600px;
}
.start {
  position: absolute;
  z-index: 1;
  width: 1200px;
  height: 450px;
  background-color: #fef8f8;
  border-radius: 40px;
  margin: 20px 50px 0 50px;
}
.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f14c59;
  color: white;
  text-align: left;
}
.copy {
  background-color: #a02f33;
  color: white;
  text-align: center;
}

.boxNewBro {
  font-size: 16px;
  font-weight: 600;
}
.circleNewBro {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.custom-control-input:focus {
  border-color: #f47522;
  box-shadow: 2px 2px 10px #f47522;
}
.boxNewBro {
  font-size: 16px;
  font-weight: 600;
}
.circleNewBro {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.custom-control-input:focus {
  border-color: #f47522;
  box-shadow: 2px 2px 10px #f47522;
}
.signin-button .btn-default,
.signup-button .btn-default {
  background-color: #f14c59 !important;
}
.navbar .modal-dialog .modal-content {
  border-radius: 20px !important;
  cursor: default;
}
.signin .modal-dialog .modal-content {
  transition: none !important;
}
.page-item.active .page-link {
  background-color: rgb(241, 76, 89) !important;
  box-shadow: none !important;
}

/* tambahan deploy */
